.container{
width: 100%;
max-width: 400px;
color: white;
height: 100%;
margin-left: auto;
margin-right: auto;
padding-bottom: 40px;
padding-top: 10px;
background-color: rgb(15, 15, 17);
}
body{
font-family: "Inter", sans-serif;
margin: 0;
background-color: rgb(245, 245, 245);
}

header{
border: 1px solid rgba(75, 75, 75, 0.432);
position: fixed;
background-color: rgba(34, 34, 34, 0.479);
backdrop-filter: blur(15px);
width: 96%;
border-radius: 30px;


margin-left: auto;
margin-right: auto;
z-index: 100;
display: flex;
justify-content: space-between;

}
.streak-txt{
margin-right: 16px;
border-radius: 8px;

padding-bottom: 5px;
padding-top: 5px;
font-size: 10px;
display: flex;
align-items: center;
justify-content: center;
padding-left: 14px;
padding-right: 12px;

}
.counter{
width: 65%;
height: 65%;
display: block;
z-index: 1;
filter: drop-shadow(0px 20px 10px rgba(68, 67, 67, 0.363));


}
.backdrop{background-color: rgb(34, 34, 34);
margin-top: 85px;
margin-bottom: 40px;
margin-right: auto;
margin-left: auto;
width: 200px;
border: 1px solid rgba(75, 75, 75, 0.432);

height: 200px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;

}
.username-bx{
margin-left: 15px;
max-width: 50%;
}
#username{
text-overflow: ellipsis;
overflow: hidden;    
white-space: nowrap;
font-size: 13px;
}
.card1{
border: 1px solid rgba(75, 75, 75, 0.432);
width: 45%;
height: 120px;
background-color: rgb(34, 34, 34);
border-radius: 10px;
}
.card1-header{
margin-left: 10px;
width: 85%;
padding-bottom: 5px;
border-bottom: 1px solid grey;
}
.streak-value{margin-left: 10px;}
.card2{
border: 1px solid rgba(75, 75, 75, 0.432);
width: 45%;
height: 120px;
background-color: rgb(34, 34, 34);
border-radius: 10px;
}
.card2-header{
margin-left: 10px;
width: 85%;
padding-bottom: 5px;
border-bottom: 1px solid grey;
}
.record-value{margin-left: 10px;}
.sec2{
width: 100%;
display: flex;
justify-content: space-around;
}
.card3{
border: 1px solid rgba(75, 75, 75, 0.432);
width: 95%;

background-color: rgb(34, 34, 34);
border-radius: 10px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 30px;
}
.card3-top{
height: 40px;
display: flex;
justify-content: space-around;
width: 90%;
}
.tbtm{
font-size: 13px;
width: 80%;
margin: 0;
margin-top: 15px;

}
.box{
width: 30px;
height: 30px;
border-radius: 7px;
background-color: #DEDEDE;
}
.grid{margin-top: 50px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 10px;
margin-bottom: 50px;
}
.da{
font-size: 13px;
margin: 0;
margin-top: 17px;
margin-bottom: 15px;
}
#tbtm-value{margin: 0;}
#da-value{margin: 0;}
.add{

width: 95%;
border-radius: 30px;
height: 60px;
background-color: rgb(36, 35, 35);
font-size: 15px;
color: rgb(247, 245, 245);
border: 0;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
display: block;
margin-bottom: 20px;
}
