.container{
width: 100%;
max-width: 400px;

height: 100%;
margin-left: auto;
margin-right: auto;
border: 1px solid rgb(240, 240, 240);
background-color: rgb(255, 255, 255);
}
body{
font-family: "Inter", sans-serif;
margin: 0;
background-color: black;
}
header{
background-color: white;
width: 100%;
border-bottom: 1px solid rgba(218, 218, 218, 0.459);
display: flex;
justify-content: space-between;

}
.streak-txt{
margin-right: 16px;
border-radius: 8px;
background-color: white;
padding-bottom: 6px;
padding-top: 6px;
font-size: 10px;
display: flex;
align-items: center;
justify-content: center;
padding-left: 14px;
padding-right: 12px;

}
.counter{
width: 65%;
display: block;
margin-top: 20px;
margin-left: auto;
filter: drop-shadow(0px 20px 18px rgba(151, 151, 151, 0.404));
margin-right: auto;

}
.username-bx{
margin-left: 15px;
max-width: 50%;
}
#username{
text-overflow: ellipsis;
overflow: hidden;    
white-space: nowrap;
font-size: 14px;
}
.card1{
border: 2px solid rgba(218, 216, 216, 0.432);
width: 45%;
height: 120px;
background-color: white;
border-radius: 10px;
}
.card1-header{
margin-left: 10px;
width: 85%;
padding-bottom: 5px;
border-bottom: 1px solid grey;
}
.streak-value{margin-left: 10px;}
.card2{
border: 2px solid rgba(218, 216, 216, 0.432);
width: 45%;
height: 120px;
background-color: white;
border-radius: 10px;
}
.card2-header{
margin-left: 10px;
width: 85%;
padding-bottom: 5px;
border-bottom: 1px solid grey;
}
.record-value{margin-left: 10px;}
.sec2{
width: 100%;
display: flex;
justify-content: space-around;
}
.card3{
border: 2px solid rgba(218, 216, 216, 0.432);
width: 95%;

background-color: white;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}
.card3-top{
height: 40px;
display: flex;
justify-content: space-around;
width: 90%;
}
.tbtm{
font-size: 13px;
width: 80%;
margin: 0;
margin-top: 15px;

}
.box{
width: 30px;
height: 30px;
border-radius: 7px;
background-color: #DEDEDE;
}
.grid{margin-top: 50px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 10px;
margin-bottom: 50px;
}
.da{
font-size: 13px;
margin: 0;
margin-top: 17px;
margin-bottom: 15px;
}
#tbtm-value{margin: 0;}
#da-value{margin: 0;}
.add{

width: 95%;
border-radius: 30px;
height: 60px;
background-color: rgb(36, 35, 35);
font-size: 15px;
color: rgb(247, 245, 245);
border: 0;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
display: block;
margin-bottom: 30px;
}
