<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fresh universe database</title>
</head>
<body>
<form action="/admin/add/user" method="post">
    <input type="text" name="username" id="username" placeholder="username" required minlength="4">
    <input type="text" name="password" id="password" placeholder="plainTextPassword" required minlength="5">
    <input type="text" name="key" id="key">
    <button type="submit">write to supabase</button>
</form>
</body>
</html>